﻿body {
    font-family: Arial, sans-serif;
}

.bloco-impressao {
    width: 21cm;
    margin: 0 auto;
}

.data-header {
    float: left;
    width: 100%;
    text-align: right;
    padding: 10px 0px;
    font-size: 12px;
}

.titulo-documento {
    float: left;
    width: 100%;
    padding: 10px 0px;
    text-align: justify;
    font-weight: bold;
    font-size: 18px;
}

.valores-documento {
    float: left;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.conteudo-documento {
    float: left;
    width: 100%;
    padding: 10px 0px;
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
}
