﻿@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/**** FUNÇÕES ****/
@function tint($color, $percentage) {
    @return mix($color, white, $percentage);
}

@function shade($color, $percentage) {
    @return mix($color, black, $percentage);
}

$main-font: 'Ubuntu', sans-serif;
$bg-color: #f6f6f6;
$font-color: #6c808b;
$primary-color: #23a7f1;
$secondary-color: #013243;
$color-white: #fff;
$color-whats: #2ecc71;

body {
    background-color: $bg-color;
    color: $font-color;
    font-family: $main-font;
}

header {
    float: left;
    width: 100%;
    height: 105px;
    line-height: 105px;
    color: $color-white;
    background-color: $color-white; //$primary-color;
}

.subheader {
    float: left;
    width: 100%;
    background-color: $primary-color; //shade($primary-color, 60%);
    color: $color-white;
    height: 40px;
    font-size: 20px;
    font-weight: lighter;
    line-height: 40px;
    margin-bottom: 20px;

    a {
        color: $color-white;

        &:hover {
            text-decoration: none;
        }
    }
}

label {
    color: $font-color;
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: -10px;
}

p {
    color: $font-color;
    font-size: 18px;
    font-weight: lighter;

    b {
        color: $primary-color;
        font-weight: 400;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
    font-family: $main-font;
    font-weight: normal;
    margin: 30px 0px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.caixa-central {
    /*margin-top: 5% !important;*/
    margin-bottom: 25px !important;
}

.caixa-titulo {
    float: left;
    width: 100%;
    background-color: $primary-color;
    color: $color-white;

    h1, h2, h3, h4, h5, h6 {
        color: $color-white;
    }
}

.caixa-branca {
    float: left;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 1, 0.08);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 1, 0.08);
    padding: 16px;
    margin-bottom: 10px;

    .step-header {
        float: left;
        width: 100%;
        padding: 0 16px 10px 16px;
        height: 35px;
        line-height: 35px;
        color: $primary-color !important;
        font-weight: bold !important;
        border-bottom: solid 2px tint($primary-color, 20%);
    }

    .step-header-2 {
        float: left;
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: $primary-color !important;
        font-weight: bold !important;
        border-bottom: solid 2px tint($primary-color, 20%);
        border-top: solid 2px tint($primary-color, 20%);
    }

    .box-inside {
        float: left;
        width: 100%;
        margin: 10px 0px;
    }
}

.btn {
    text-transform: uppercase;
}

.btn-primary {
    background-color: $primary-color;
    border: solid 1px $primary-color;
    text-transform: uppercase !important;
    padding: 10px 0px;
    font-size: 16px;
    -webkit-transition: all 330ms ease-in-out;
    -moz-transition: all 330ms ease-in-out;
    -o-transition: all 330ms ease-in-out;
    transition: all 330ms ease-in-out;

    &:hover {
        background-color: shade($primary-color, 50%);
    }
}

.label-identificacao {
    float: left;
    width: 100%;
    font-size: 18px;
    color: $font-color;
}

.label-identificacao-valor {
    float: left;
    width: 100%;
    font-size: 18px;
    color: $font-color;
    font-weight: bold;
}

.btn-selecao {
    margin: 0 auto;
    padding: 10px 0px;
}

.caixa-leitura {
    width: 100%;
    float: left;
    text-align: justify;
    color: $font-color;
    font-weight: lighter;
    font-size: 16px;
    height: 380px;
    max-height: 380px;
    overflow-y: auto;
    padding: 10px;
    background-color: $bg-color;
}

.form-control {
    border: none;
    /*background-color: $bg-color;*/
    border-bottom: solid 2px tint($font-color, 20%);
    border-radius: 0px;
    font-weight: 200;
    font-size: 16px;

    &:focus {
        background-color: $color-white !important;
        outline: none !important;
        border-bottom: solid 2px $primary-color;
    }
}

.bloco-controle {
    padding: 20px 0px;
}

.img-caixa {
    margin: 0 auto;
    max-height: 80px;
}
/* ALERTAS */
.swal2-popup {
    .swal2-header {
        h2 {
            color: $primary-color;
            font-weight: lighter;
            font-size: 22px;
        }
    }

    .swal2-styled {
        .swal2-confirm {
            font-size: 16px !important;
        }
    }

    #swal2-content {
        font-size: 16px !important;

        b {
            color: $primary-color;
        }
    }
}

.swal2-container, .swal2-shown {
    z-index: 99999 !important;
}

.swal2-popup .swal2-title {
    font-size: fontplus(6) !important;
}

.swal2-popup #swal2-content {
    font-size: fontplus(4);
}

.swal2-popup .swal2-styled.swal2-confirm {
    font-size: fontplus(4);
}

.truncate {
    width: 99% !important;
}

.bloco.opcao {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.box-grids {
    float: left;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    position: relative;
}

.dv-grid-f-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    width: 2000px;
    height: 40px;
    background-color: #474f62;
    color: #ffffff;
    font-weight: normal;
    line-height: 40px;
    text-transform: uppercase;

    a {
        color: #fff;
    }

    > div {
        border-right: 1px solid #4f576a;

        &:last-child {
            border-right: none;
        }
    }
}

.dv-grid-f {
    float: left;
    width: 2000px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 360px;
    border: 1px solid #f6f6f6;
    margin-bottom: 10px;

    > div {
        float: left;
        width: 2000px;
        background-color: #f5f5f5;
        height: 35px;
        line-height: 35px;
        -webkit-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        transition: all linear 0.3s;
        color: #474f62;

        &:nth-child(odd) {
            float: left;
            width: 2000px;
            background-color: #ffffff;
            height: 35px;
            line-height: 35px;
            -webkit-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
            transition: all linear 0.3s;
        }

        &:hover, &:nth-child(odd):hover {
            background: #e8e8ec url('../img/bg/dv-list.PNG') no-repeat left;
            -webkit-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
            transition: all linear 0.3s;
        }
    }
}

input {
    &[type=checkbox] {
        display: none;
        transition: all .3s ease-in-out 0s;

        + label {
            width: 24px;
            height: 24px;
            line-height: 24px;
            margin: 0px 10px 0px 0px;
            padding-top: 3px;
            font: normal 14px 'Mina', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            background: url('../img/bg/orange-check.PNG') no-repeat 0px 0px;
            padding-left: 30px;
            font-weight: lighter;
            width: 100%;
        }

        &:disabled {
            + label {
                width: 24px;
                height: 24px;
                line-height: 22px;
                margin: 0px 10px 0px 0px;
                padding-top: 3px;
                background: url('../img/bg/orange-check.PNG') no-repeat 0px -48px;
                padding-left: 30px;
            }

            &:hover + label {
                width: 24px;
                height: 24px;
                line-height: 22px;
                margin: 0px 10px 0px 0px;
                padding-top: 3px;
                background: url('../img/bg/orange-check.PNG') no-repeat 0px -48px;
                padding-left: 30px;
                opacity: 0.5;
            }
        }

        &:hover + label {
            margin: 0px 10px 0px 0px;
            background: url('../img/bg/orange-check.PNG') no-repeat 0px -24px;
        }

        &:checked {
            + label {
                margin: 0px 10px 0px 0px;
                background: url('../img/bg/orange-check.PNG') no-repeat 0px -48px;
            }

            &:hover + label {
                margin: 0px 10px 0px 0px;
                background: url('../img/bg/orange-check.PNG') no-repeat 0px -48px;
                opacity: 0.5;
            }

            &:disabled + label {
                margin: 0px 10px 0px 0px;
                background: url('../img/bg/orange-check.PNG') no-repeat 0px -48px;
            }
        }
    }

    &[type=radio] {
        display: none;
        transition: all .3s ease-in-out 0s;

        + label {
            width: 24px;
            height: 24px;
            line-height: 22px;
            margin: 0px 10px 0px 0px;
            padding-top: 3px;
            font: normal 14px 'Mina', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            background: url('../img/bg/orange-check.PNG') no-repeat 0px 0px;
            padding-left: 30px;
            font-weight: lighter;
            width: 100%;
        }

        &:disabled {
            + label, &:hover + label {
                width: 24px;
                height: 24px;
                line-height: 22px;
                margin: 0px 10px 0px 0px;
                padding-top: 3px;
                background: url('../img/bg/orange-check.PNG') no-repeat 0px -48px;
                padding-left: 30px;
            }
        }

        &:hover + label {
            margin: 0px 10px 0px 0px;
            background: url('../img/bg/orange-check.PNG') no-repeat 0px -24px;
        }

        &:checked {
            + label {
                margin: 0px 10px 0px 0px;
                background: url('../img/bg/orange-check.PNG') no-repeat 0px -48px;
            }

            &:hover + label {
                margin: 0px 10px 0px 0px;
                background: url('../img/bg/orange-check.PNG') no-repeat 0px -48px;
                opacity: 0.5;
            }

            &:disabled + label {
                margin: 0px 10px 0px 0px;
                background: url('../img/bg/orange-check.PNG') no-repeat 0px -48px;
            }
        }
    }
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    height: 32px !important;

    &:focus {
        border-color: #3c8dbc;
        box-shadow: none;
    }

    &::-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder {
        color: #bbb;
        opacity: 1;
    }

    &:not(select) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.form-group {
    &.has-success {
        label {
            color: #0DB04B;
        }

        .form-control {
            border-color: #0DB04B;
            box-shadow: none;
        }
    }

    &.has-warning {
        label {
            color: #EC6608;
        }

        .form-control {
            border-color: #0DB04B;
            box-shadow: none;
        }
    }

    &.has-error {
        label {
            color: #dd4b39;
        }

        .form-control {
            border-color: #dd4b39;
            box-shadow: none;
        }
    }
}

select, .form-group select {
    background: url('../../img/bg/ddl-style.PNG') no-repeat right !important;
    padding-right: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.upl-base {
    position: fixed;
    background: url('../img/bg/bg-upload.png') repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1100;
}

.upl-base-progress {
    position: absolute;
    width: 320px;
    z-index: 600;
    margin: 0 0 0 -180px;
    top: 35%;
    left: 50%;
    height: 90px;
    text-align: center;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .truncate {
        width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .truncate {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .truncate {
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .truncate {
        width: 380px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .truncate {
        width: 380px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .truncate {
        width: 380px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .truncate {
        width: 610px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    .truncate {
        width: 910px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.hidden-xs-up {
    display: none !important;
}

@media (max-width: 543px) {
    .hidden-xs-down {
        display: none !important;
    }

    .truncate {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 544px) {
    .hidden-sm-up {
        display: none !important;
    }

    .truncate {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 767px) {
    .hidden-sm-down {
        display: none !important;
    }

    .truncate {
        width: 360px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 768px) {
    .hidden-md-up {
        display: none !important;
    }

    .truncate {
        width: 360px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 991px) {
    .hidden-md-down {
        display: none !important;
    }

    .truncate {
        width: 420px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 992px) {
    .hidden-lg-up {
        display: none !important;
    }

    .truncate {
        width: 420px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 1199px) {
    .hidden-lg-down {
        display: none !important;
    }

    .truncate {
        width: 510px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 1200px) {
    .hidden-xl-up {
        display: none !important;
    }

    .truncate {
        width: 510px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.hidden-xl-down {
    display: none !important;
}

.dv-spc-1 {
    float: left;
    width: 100%;
    height: 1px;
}

.dv-spc-10 {
    float: left;
    width: 100%;
    height: 10px;
}

.dv-spc-20 {
    float: left;
    width: 100%;
    height: 20px;
}

.bloco-header {
    float: left;
    width: 100%;
    background-color: $primary-color;
    color: $color-white;
    height: 60px;
    line-height: 60px;

    img {
        height: 50px;
    }

    a {
        color: $color-white;
        height: 60px;
        line-height: 60px;
    }
}

.bloco-botoes-floating {
    position: fixed;
    right: 15px;
    bottom: 60px;
    float: right;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;

    .btn-padrao {
        color: $color-white;
        background-color: $primary-color;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 0px 0px 10px 10px;
    }
}

.no-padding {
    padding: 0px !important;
}

.separador {
    float: left;
    width: 100%;
    border-bottom: solid 1px #d2d6de;
    margin-bottom: 5px;
}

.bloco-whats {

    .click-whats {
        position: fixed !important;
        bottom: -10px;
        right: 10px !important;
        padding: 15px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border-radius: 50%;
        text-align: center !important;
        color: $color-white;
        background-color: $color-whats;
        z-index: 999;
        margin-bottom: 30px;
        cursor: pointer;
        transition: all .3s ease-in-out 0s;
        -webkit-box-shadow: 2px 2px 5px 2px rgba(85,85,85,0.5);
        -moz-box-shadow: 2px 2px 5px 2px rgba(85,85,85,0.5);
        box-shadow: 2px 2px 5px 2px rgba(85,85,85,0.5);

        span {
            display: none;
        }

        i {
            margin-right: 0px;
            font-size: 30px;
        }

        a, a:hover {
            text-decoration: none;
        }

        &:hover {
            background-color: shade($color-whats, 80%);
        }
    }
}

.item-horario {
    font-size: 20px;
    font-weight: bold;
    float: left;
    text-align: center;
    padding: 8px 0px;
    background-color: $color-whats !important;
    color: $color-white !important;
    opacity: 1;
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;

    a {
        color: $color-white;
        -webkit-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        transition: all linear 0.3s;

        &:hover {
            text-decoration: none;
        }
    }

    small {
        font-size: 14px;
        font-weight: lighter;
    }

    &:hover {
        opacity: 0.6;
    }
}

.item-horario-ocupado {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    float: left;
    padding: 8px 0px;
    background-color: #ca9413 !important;
    color: $color-white !important;
    opacity: 1;
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;

    a {
        color: $color-white;
        text-decoration: none;
        -webkit-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        transition: all linear 0.3s;

        &:hover {
            text-decoration: none;
        }
    }

    small {
        font-size: 14px;
        font-weight: lighter;
    }

    &:hover {
        opacity: 0.6;
    }
}

@media (max-width: 360px) {
    .item-horario, .item-horario-ocupado {
        width: 50% !important;
    }
}

@media (min-width: 361px) and (max-width: 460px) {
    .item-horario, .item-horario-ocupado {
        width: 50% !important;
    }
}

@media (min-width: 461px) and (max-width: 500px) {
    .item-horario, .item-horario-ocupado {
        width: 33.33% !important;
    }
}

.alert-warning {
    color: #fff;
    background-color: #d3670b;

    .fa {
        margin-right: 10px;
    }

    input {
        &[type=checkbox] {
            display: none;
            transition: all .3s ease-in-out 0s;

            + label {
                width: 24px;
                height: 24px;
                line-height: 24px;
                margin: 0px 10px 0px 0px;
                padding-top: 3px;
                color: #fff;
                font: normal 14px 'Mina', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
                background: url('../img/bg/orange-check-2.PNG') no-repeat 0px 0px;
                padding-left: 30px;
                font-weight: lighter;
                width: 100%;
            }

            &:disabled {
                + label {
                    width: 24px;
                    height: 24px;
                    line-height: 22px;
                    margin: 0px 10px 0px 0px;
                    padding-top: 3px;
                    background: url('../img/bg/orange-check-2.PNG') no-repeat 0px -48px;
                    padding-left: 30px;
                    color: #fff;
                }

                &:hover + label {
                    width: 24px;
                    height: 24px;
                    line-height: 22px;
                    margin: 0px 10px 0px 0px;
                    padding-top: 3px;
                    background: url('../img/bg/orange-check-2.PNG') no-repeat 0px -48px;
                    padding-left: 30px;
                    opacity: 0.5;
                    color: #fff;
                }
            }

            &:hover + label {
                margin: 0px 10px 0px 0px;
                background: url('../img/bg/orange-check-2.PNG') no-repeat 0px -24px;
                color: #fff;
            }

            &:checked {
                + label {
                    margin: 0px 10px 0px 0px;
                    background: url('../img/bg/orange-check-2.PNG') no-repeat 0px -48px;
                    color: #fff;
                }

                &:hover + label {
                    margin: 0px 10px 0px 0px;
                    background: url('../img/bg/orange-check-2.PNG') no-repeat 0px -48px;
                    opacity: 0.5;
                    color: #fff;
                }

                &:disabled + label {
                    margin: 0px 10px 0px 0px;
                    background: url('../img/bg/orange-check-2.PNG') no-repeat 0px -48px;
                    color: #fff;
                }
            }
        }

        &[type=radio] {
            display: none;
            transition: all .3s ease-in-out 0s;

            + label {
                width: 24px;
                height: 24px;
                line-height: 22px;
                margin: 0px 10px 0px 0px;
                padding-top: 3px;
                font: normal 14px 'Mina', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
                background: url('../img/bg/orange-check-2.PNG') no-repeat 0px 0px;
                padding-left: 30px;
                font-weight: lighter;
                width: 100%;
            }

            &:disabled {
                + label, &:hover + label {
                    width: 24px;
                    height: 24px;
                    line-height: 22px;
                    margin: 0px 10px 0px 0px;
                    padding-top: 3px;
                    background: url('../img/bg/orange-check-2.PNG') no-repeat 0px -48px;
                    padding-left: 30px;
                }
            }

            &:hover + label {
                margin: 0px 10px 0px 0px;
                background: url('../img/bg/orange-check-2.PNG') no-repeat 0px -24px;
            }

            &:checked {
                + label {
                    margin: 0px 10px 0px 0px;
                    background: url('../img/bg/orange-check-2.PNG') no-repeat 0px -48px;
                }

                &:hover + label {
                    margin: 0px 10px 0px 0px;
                    background: url('../img/bg/orange-check-2.PNG') no-repeat 0px -48px;
                    opacity: 0.5;
                }

                &:disabled + label {
                    margin: 0px 10px 0px 0px;
                    background: url('../img/bg/orange-check-2.PNG') no-repeat 0px -48px;
                }
            }
        }
    }
}