﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body { background: #FFF; color: #000; font-family: 'Open Sans' , Sans-Serif; font-size: 14px; }

.header {
    float: left;
    width: 100%;
    height: 70px;
    border-bottom: solid 1px #d7d7d7;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.header img {
    height: 60px;
}

.bloco-conteudo { float: left; width: 100%; margin-bottom: 5px; }

.dv-box-print { width: 980px; margin: 0 auto; padding: 10px; }
.onerow { clear: both; padding: 0; }
.dv-spc-5-bottom { height: 5px; float: left; width: 100%; border-bottom: solid 1px #d7d7d7; }
.dv-spc-5 { height: 5px; float: left; width: 100%; }
.dv-spc-10 { height: 10px; float: left; width: 100%; }
.dv-spc-20 { height: 20px; float: left; width: 100%; }
.dv-spc-40 { height: 40px; float: left; width: 100%; }
.dv-spc-60 { height: 60px; float: left; width: 100%; }
/*.dv-content-title { text-align: center; width: 100%; font: normal bold 16px 'Open Sans'; float: left; height: 30px; line-height: 30px; }
.item-details { width: 33.33%; float: left; font-size: 12px; line-height: 20px; height: 20px; background: url('../img/bg/bg-item.PNG') no-repeat left; text-indent: 15px; font-style: normal; }
.item-details-50 { width: 50%; float: left; font-size: 12px; line-height: 18px; height: 18px; background: url('../img/bg/bg-item.PNG') no-repeat left; text-indent: 15px; font-style: normal; }
.item-details-100 { width: 100%; float: left; font-size: 12px; line-height: 18px; height: 18px; background: url('../img/bg/bg-item.PNG') no-repeat left; text-indent: 15px; font-style: normal; }*/

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 { float: left; }
.col1 { width: 8%; }
.col2 { width: 14%; padding: 0px 5px 0px 0px; }
.col3 { width: 25%; }
.col4 { width: 33.32%; }
.col5 { width: 41.65%; }
.col6 { width: 49.98%; }
.col7 { width: 58.31%; }
.col8 { width: 66.64%; }
.col9 { width: 72%; }
.col10 { width: 83.3%; }
.col11 { width: 91.63%; }
.col12 { width: 100%; margin: 0; }

.ftl-right { float: right; }
.ftl-left { float: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.p-imoveis { font-size: 12px; width: 100%; float: left; font-style: normal; }
.dv-footer { width: 100%; float: left; text-align: center; }