﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="imunne.master.cs" Inherits="imunne_imunne" %>

<%@ Register Src="~/controls/whatsapp.ascx" TagName="WhatsApp" TagPrefix="imunne" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="apple-touch-icon" sizes="57x57" href="<%= Page.ResolveUrl("img/icons/apple-icon-57x57.png") %>" />
    <link rel="apple-touch-icon" sizes="60x60" href="<%= Page.ResolveUrl("img/icons/apple-icon-60x60.png") %>" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%= Page.ResolveUrl("img/icons/apple-icon-72x72.png") %>" />
    <link rel="apple-touch-icon" sizes="76x76" href="<%= Page.ResolveUrl("img/icons/apple-icon-76x76.png") %>" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%= Page.ResolveUrl("img/icons/apple-icon-114x114.png") %>" />
    <link rel="apple-touch-icon" sizes="120x120" href="<%= Page.ResolveUrl("img/icons/apple-icon-120x120.png") %>" />
    <link rel="apple-touch-icon" sizes="144x144" href="<%= Page.ResolveUrl("img/icons/apple-icon-144x144.png") %>" />
    <link rel="apple-touch-icon" sizes="152x152" href="<%= Page.ResolveUrl("img/icons/apple-icon-152x152.png") %>" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= Page.ResolveUrl("img/icons/apple-icon-180x180.png") %>" />
    <link rel="icon" type="image/png" sizes="192x192" href="<%= Page.ResolveUrl("img/icons/android-icon-192x192.png") %>" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Page.ResolveUrl("img/icons/favicon-32x32.png") %>" />
    <link rel="icon" type="image/png" sizes="96x96" href="<%= Page.ResolveUrl("img/icons/favicon-96x96.png") %>" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Page.ResolveUrl("img/icons/favicon-16x16.png") %>" />
    <link rel="manifest" href="<%= Page.ResolveUrl("img/icons/manifest.json") %>" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="<%= Page.ResolveUrl("img/icons/ms-icon-144x144.png") %>" />
    <meta name="theme-color" content="#ffffff" />
    <!-- INFORMANDO SOBRE SER UM LAYOUT RESPONSIVO -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <!-- BOOTSTRAP -->
    <link href="<%= Page.ResolveUrl("vendors/bootstrap/css/bootstrap.css") %>" rel="stylesheet" />
    <!-- FONT AWESOME -->
    <script src="https://use.fontawesome.com/fbb802a78b.js"></script>
    <!-- TEMA DA APLICAÇÃO -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.11/dist/sweetalert2.min.css" rel="stylesheet" />
    <link href="<%= Page.ResolveUrl("app_themes/imunne.css") %>" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.11/dist/sweetalert2.all.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        // Função de mensagem genérica
        function MensagemGenerica(titulo, chamada, tipo) {
            swal({
                title: titulo,
                text: chamada,
                type: tipo,
                animation: 'slide-from-top',
                allowEscapeKey: false,
                allowOutsideClick: false,
                confirmButtonText: "<i class='fa fa-check'></i>&nbsp;OK",
                confirmButtonColor: '#00a65a',
            });
        }

        // Função de confirmações de Mensagens
        function MensagemContinuar(titulo, chamada, tipo) {
            swal({
                title: titulo,
                text: chamada,
                type: tipo,
                confirmButtonText: 'Ok',
                showCancelButton: false
            });
        }

        // Chamada de alerta para confirmação de cancelamento
        function CancelarFormulario(ctl, event, url) {
            var defaultAction = $(ctl).prop("href");
            event.preventDefault();
            swal({
                title: "Aviso!",
                text: 'Deseja realmente cancelar a operação?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "<i class='fa fa-check'></i>&nbsp;Sim!",
                cancelButtonText: "<i class='fa fa-times'></i>&nbsp;Não!",
                confirmButtonColor: '#00a65a',
                cancelButtonColor: '#dd4b39',
                animation: 'slide-from-top',
                allowEscapeKey: false,
                allowOutsideClick: false
            }).then(result => {
                if (result.value) {
                    window.location.replace(url);
                    return true;
                }
            })
        }

        // Chamada de alerta para confirmação de logoff
        function AltertaLogOff(ctl, event, url) {
            var defaultAction = $(ctl).prop("href");
            event.preventDefault();
            swal({
                title: "Aviso!",
                text: 'Deseja realmente realizar o logoff?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "<i class='fa fa-check'></i>&nbsp;Sim!",
                cancelButtonText: "<i class='fa fa-times'></i>&nbsp;Não!",
                confirmButtonColor: '#00a65a',
                cancelButtonColor: '#dd4b39',
                animation: 'slide-from-top',
                allowEscapeKey: false,
                allowOutsideClick: false
            }).then(result => {
                if (result.value) {
                    window.location.replace(url);
                    return true;
                }
            })
        }
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?

                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };

            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';

            n.queue = []; t = b.createElement(e); t.async = !0;

            t.src = v; s = b.getElementsByTagName(e)[0];

            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',

            'https://connect.facebook.net/en_US/fbevents.js');


        fbq('init', '811226869427918');

        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=811226869427918&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="SpmMain" runat="server"></asp:ScriptManager>
        <asp:UpdateProgress ID="uppMain" runat="server">
            <ProgressTemplate>
                <div class="upl-base">
                    <div class="upl-base-progress">
                        <div class="dv-spc-20">
                        </div>
                        <div class="dv-spc-10">
                        </div>
                        <img src="<%= Page.ResolveUrl("img/pages/loading.gif") %>" alt="" />
                    </div>
                </div>
            </ProgressTemplate>
        </asp:UpdateProgress>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img src="<%= Page.ResolveUrl("img/logos/logo-comprador.png") %>" alt="" />
                    </div>
                    <div class="col-lg-2 text-right hidden">
                        PLATAFORMA DE AQUISIÇÃO DE VACINAS
                    </div>
                </div>
            </div>
        </header>
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <imunne:WhatsApp ID="PnlWhatsApp" runat="server" />
    </form>
    <!-- JQUERY UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript" defer="defer"></script>
    <!-- BOOTSTRAP -->
    <script src="<%= Page.ResolveUrl("vendors/bootstrap/js/bootstrap.min.js") %>" type="text/javascript" defer="defer"></script>
    <script src="<%= Page.ResolveUrl("vendors/global/format.js") %>" type="text/javascript"></script>
</body>
</html>
