﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="popups.master.cs" Inherits="popups" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <!-- INFORMANDO SOBRE SER UM LAYOUT RESPONSIVO -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <!-- BOOTSTRAP -->
    <link href="../vendors/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME -->
    <script src="https://use.fontawesome.com/fbb802a78b.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" />
    <!-- IONICONS -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="../app_themes/admin.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.11/dist/sweetalert2.all.min.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body style="background-color: #fff !important;">
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
    <!-- JQUERY UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript" defer="defer"></script>
    <!-- BOOTSTRAP -->
    <script src="../vendors/bootstrap/js/bootstrap.min.js" type="text/javascript" defer="defer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"
        type="text/javascript" defer="defer"></script>
    <script src="../vendors/global/format.js" type="text/javascript"></script>
    <script src="../vendors/global/isCpfCnpj.js"></script>
    <script src="../vendors/datepicker/js/daterangepicker.js" type="text/javascript" defer="defer"></script>
    <script src="../vendors/datepicker/js/bootstrap-datepicker.js" type="text/javascript" defer="defer"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="../vendors/bootstrap/js/bootstrap3-wysihtml5.all.min.js" type="text/javascript" defer="defer"></script>
    <!-- App -->
    <script src="../vendors/global/app.min.js" type="text/javascript" defer="defer"></script>
    <!-- Dashboard -->
    <%--<script src="../vendors/global/pages/dashboard.js" type="text/javascript" defer="defer"></script>--%>
    <script src="../vendors/global/demo.js" type="text/javascript" defer="defer"></script>
</body>
</html>
