﻿<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding" style="font-size: 12px; line-height: 18px; margin-bottom: 5px;">
    <b>PRODUTO</b>: #NOME<br />
    <b>VALOR:</b> #VALOR
</div>
<div class="separator"></div>