﻿Você pode utilizar duas formas de seleção de horários. <b>Automaticamente</b>, onde o sistema seleciona as datas sequencialmente após a seleção do primeiro horário e disponibilidade ou <b>Individualmente</b>, onde o usuário escolhe, beneficiário por beneficiário, clicando sobre o horário deseja.